<div class="map-show">
	<div id="latitude" style="display:none;">
	<%= @latitude %>
	</div>

	<div id="longitude" style="display:none;">
	<%= @longitude %>
	</div> 
	<p id="heading1">Users location</p>
	<div id="map-canvas3" style="border:1px solid red; height:400px;">

	</div>
</div>